.container1{
    display: flex;
    border: 10px solid goldenrod;
    align-items: stretch;
    height: 50vh;
    margin: 10px;
}
.container2{
    display: flex;
    border: 10px solid goldenrod;
    height: 50vh;
    align-items: center;
    margin: 10px;
}
.container3{
    display: flex;
    border: 10px solid goldenrod;
    align-items: baseline;
    margin: 10px;
}
.box{
    font-size: 100px;
    padding: 10px;
}
.box1{background: violet;}
.box2{background: indigo;}
.box3{background: blue;}
.box4{background: green;}
.box5{background: yellow;}
.box6{background: orange;}
.box7{background: red;}
.box8{background: brown;}
.box9{background: silver;}
.box10{background: gray;}