.container{
    display: flex;
    flex-wrap: wrap;
    border: 10px solid goldenrod;
}
.box{
    flex: 1;
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    margin: 10px;
}
.box1{background: violet;
    order: 1;
}
.box2{background: indigo;}
.box3{background: blue;}
.box4{background: green;}
.box5{background: yellow;}
.box6{background: orange;}
.box7{background: red;}
.box8{background: brown;}
.box9{background: silver;}
.box10{background: grey;
    order: -1;
}
